body {
    background: linear-gradient(180deg, #13ACB6 0%, #041D30 100%);
    background-attachment: fixed;
}
#main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
    flex-flow: row;
    margin-left: 15px;
    margin-right: 15px;
}

h1, h2, h3, p {
    font-family: Roboto;
    margin-left: 15px;
    margin-right: 15px;
}

h2, p {
    color: #303030;
}

.caixa {
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 15px;
}

#name {
    position: relative;
    top: -80px;
    color:white;
    font-size: 40px;
    font-weight: 400;
    word-wrap: break-word;
}

.main_attributes {
    color: #13ACB6;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    align-self: center;
    text-decoration: none;
}

.left_info {
    display:flex; align-content: center; height: 47px;
}

.left_info img {
    margin-left: 15px; width:25px;
}

.top_image {
    width: 100%; max-width: 457px; max-height: 457px; height: 0; padding-bottom: 100%;
}

.top_image img {
    width:100%; aspect-ratio: 1/1;
}

.small_title {
    color: #13ACB6;
    font-size: 24px;
    font-weight: 700;
    word-wrap: break-word;
    align-self: center;
    text-decoration: none;
}

.skill {
    width: 80%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.skill p {
    margin-left: 0;
}

.percentage_bar_background{
    width: 100%; height: 30px; background: #D9F1F7; border-radius: 50px;
}

.percentage_bar_foreground {
    width: 100%; height: 30px; background: #13ACB6; border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentage_bar_text {
    margin-top: 12px;
    width: 100%; height: 100%; text-align: center; color: #D9F1F7; font-size: 15px; font-family: Roboto; font-weight: 400;
}

.separator {
    width: 75%; height: 100%; border: 1px #D9F1F7 solid; 
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}


#contact_bar {
    position: relative;
    bottom: 0;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#contact_bar p {
    color: white;
}

#bottom_icons {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

#bottom_icons img {
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#bottom_icons img:hover {
    fill: grey;
}

.left_info_license {
    display:flex; align-content: center; height: 40px;
}

.left_info_license img {
    margin-left: 10%; width:25px;
}

.left_info_license p {
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    align-self: center;
    text-decoration: none;
}

#right_col h1 {
    font-size: 40px;
    font-weight: 400;
    color: #13ACB6;
}

#right_col h2 {
    color: #303030;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 700;
}

.right_entry {
    margin-left: 37px;
    display:flex; align-content: center;
}

.right_entry img {
    width: 62px;
}